.phoneInput:focus + label, .phoneInput:not(:placeholder-shown) + label {
    top: 4px;
    font-size: 14px;
}



input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid gray;
    border-radius: 50%;
  }
  input[type="radio"]:checked {
    background-color: #805600;
  }
  
  input[type="checkbox"] {
    opacity: 0.7;
    filter: hue-rotate(192deg);
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    visibility: visible;
  }